@tailwind base;
@tailwind components;
@tailwind utilities;

body,html,* {
    font-family: 'Assistant', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Source Sans 3', sans-serif;
}
.service:hover > .description {
    display: block;
}